<div class="flex flex-col min-h-screen">
  <header>
    <ul class="p-4 flex items-center header">
      <div class="flex items-center">
        <img src="assets/teste.png" alt="logo" class="w-11 h-11 object-cover">
      </div>

      <div class="flex flex-col items-center flex-grow">
        <h1 class="text-3xl font-bold text-white text-center mb-2">Gimify</h1>
        <div class="flex space-x-4">
          <li class="flex items-center">
            <i class="fas fa-music text-white mr-2"></i>
            <a routerLink="music" class="text-white hover:text-blue-300 font-semibold">Music</a>
          </li>
          <li class="flex items-center">
            <i class="fas fa-user-plus mr-2 text-white mr-2"></i>
            <a routerLink="register" class="text-white hover:text-blue-300 font-semibold">Inscription</a>
          </li>
        </div>
      </div>    
    </ul>

    <div class="relative" *ngIf="isAdmin()">
      <button (click)="toggleMenu()" class="p-3 bg-blue-500 rounded-full text-black hover:text-gray-900 hover:bg-gray-300 transition duration-300 ease-in-out shadow-md hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M3 6h18M3 14h18M3 18h18"></path>
        </svg>
      </button>

      <div *ngIf="menuVisible" class="menu-container absolute right-0 mt-2 w-48 bg-white shadow-lg rounded-md">
        <ul>
          <li>
            <a routerLink="/admin-dashboard" routerLinkActive="text-blue-500" class="block px-4 py-2 flex items-center">
              <i class="fas fa-tachometer-alt mr-2 text-blue-500"></i> Tableau De Bord Administrateur
            </a>
          </li>
        
          <li>
            <a routerLink="/publish" routerLinkActive="text-blue-500" class="block px-4 py-2 flex items-center">
              <i class="fas fa-upload mr-2 text-yellow-500"></i> Publication
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="flex justify-end p-4">
      <button (click)="navigateToUserDashboard()" class="bg-gray-200 p-3 rounded-full hover:bg-gray-300 transition duration-300 ease-in-out shadow-md hover:shadow-lg">
        <i class="fas fa-user text-gray-800 text-xl"></i>
      </button>
    </div>
  </header>

  <main class="flex-grow">
    <router-outlet></router-outlet>
  </main>
</div>
