img{
  object-fit: cover;
}
.w-32 {
    width: 8rem;
    height: 8rem;
  }
  
  .w-64 {
    width: 16rem;
    height: 16rem;
  }
  
  .h-32 {
    height: 8rem;
  }
  
  .h-64 {
    height: 16rem;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 0.5rem 0;
  }
  