
<div class="p-8 bg-white rounded-lg shadow-md">
    <h1 class="text-2xl font-bold mb-6">Conditions d'utilisation de Gimify</h1>
  
    <p class="mb-4"><strong>Dernière mise à jour :</strong> [Date]</p>
  
    <h2 class="text-xl font-semibold mb-4">1. Acceptation des Conditions</h2>
    <p class="mb-4">En accédant ou en utilisant <strong>Gimify</strong> (le "Site"), vous acceptez d'être lié par ces Conditions d'utilisation et notre Politique de confidentialité. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser notre Site.</p>
  
    <h2 class="text-xl font-semibold mb-4">2. Utilisation du Site</h2>
    <ul class="list-disc list-inside mb-4">
      <li class="mb-2"><strong>Accès sans Compte :</strong> Vous pouvez naviguer sur Gimify et acheter des musiques sans créer de compte. Cependant, certaines fonctionnalités avancées peuvent nécessiter un compte.</li>
      <li class="mb-2"><strong>Comportement Interdit :</strong> Vous vous engagez à ne pas utiliser le Site pour :
        <ul class="list-disc list-inside pl-6">
          <li>Violer les droits de propriété intellectuelle ou tout autre droit de tiers.</li>
          <li>Publier ou transmettre des contenus illégaux, diffamatoires, obscènes ou nuisibles.</li>
          <li>Perturber le fonctionnement du Site ou interférer avec les serveurs et réseaux connectés.</li>
          <li>Interdit de vendre les Produits d'autruis(Dont l'utilisateur detient pas les droit d'auteur) </li>
        </ul>
      </li>
    </ul>
  
    <h2 class="text-xl font-semibold mb-4">3. Achat de Musique</h2>
    <ul class="list-disc list-inside mb-4">
    <li class="mb-2"><strong>Prix et Paiement :</strong> Les prix des musiques sont affichés sur le Site et peuvent varier. Le paiement doit être effectué par les méthodes acceptées au moment de l'achat. Vous vous engagez à payer toutes les taxes applicables.</li>
    <li class="mb-2"><strong>Téléchargement et Accès :</strong> Après l'achat, vous aurez accès à vos fichiers audio uniquement via l'application de Gimify. Les fichiers téléchargés ne doivent pas être copiés, partagés ou utilisés en dehors de l'application Gimify.</li>
    <li class="mb-2"><strong>Politique de Remboursement :</strong> Les achats ne sont pas remboursables, sauf en cas d'erreur de facturation ou de problème technique. 
        Veuillez consulter notre <a routerLink="/remboursement" class="text-blue-500 underline">Politique de remboursement</a> pour plus de détails.</li>
    </ul>

  
    <h2 class="text-xl font-semibold mb-4">4. Propriété Intellectuelle</h2>
    <p class="mb-4">Tous les contenus, y compris les musiques, images, graphiques, et textes sur le Site, sont protégés par les droits d'auteur et autres droits de propriété intellectuelle. Vous ne pouvez pas utiliser ces contenus sans autorisation préalable.</p>
    <p>
      Nous prenons la confidentialité de vos informations très au sérieux. Veuillez consulter notre 
      <a routerLink="/confidentialite" class="text-blue-500 underline">Politique de confidentialité</a> pour en savoir plus sur la manière dont nous collectons, utilisons, et protégeons vos données personnelles.
    </p>

    <h2 class="text-xl font-semibold mb-4">5. Responsabilité</h2>
    <ul class="list-disc list-inside mb-4">
      <li class="mb-2"><strong>Limitation de Responsabilité :</strong> Gimify ne peut être tenu responsable des dommages indirects, accessoires ou consécutifs résultant de l'utilisation du Site ou de l'achat de musique.</li>
      <li class="mb-2"><strong>Disponibilité du Site :</strong> Nous nous efforçons de maintenir le Site en fonctionnement, mais nous ne garantissons pas son accès permanent ou ininterrompu.</li>
    </ul>
  
    <h2 class="text-xl font-semibold mb-4">6. Modifications des Conditions</h2>
    <p class="mb-4">Nous nous réservons le droit de modifier ces Conditions d'utilisation à tout moment. Les modifications seront publiées sur cette page. Votre utilisation continue du Site après la publication des modifications constitue votre acceptation des conditions révisées.</p>
  
    <h2 class="text-xl font-semibold mb-4">7. Droit Applicable</h2>
    <p class="mb-4">Ces Conditions d'utilisation sont régies par les lois [pays/juridiction]. Tout litige relatif à ces conditions sera soumis aux tribunaux compétents de [pays/juridiction].</p>
  
    <h2 class="text-xl font-semibold mb-4">8. Contact</h2>
    <p>Pour toute question ou préoccupation concernant ces Conditions d'utilisation, veuillez nous contacter à l'adresse suivante :</p>
    <p>Email : [Votre email]</p>
    <p>Adresse : [Votre adresse]</p>
    <p>Ou en remplissant le Formulaire de Contact Ci-dessous </p>
</div>
  